body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
   text-decoration: none;
   list-style-type: none;
   color: #000;
}

.navbar-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #F3E9F1;
    padding: 0 10px;
}

.cart-box {
    position: relative;
    cursor: pointer;
}

.shop-cart-icon {
    font-size: 30px;
    color: #000; 
}

.cart {
    position: absolute;
    top: -8px;
    right: -3px;
    z-index: 2;
    padding: 0 3px;
    border-radius: 30%;
    background-color: #915cf7;
}

.navbar-header img {
    height: 100px;
    width: 200px;
}

ul.list-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: grey 1px solid;
    background-color: rgb(252, 236, 247);
    margin : 50px;
    border-radius: 20px;
}

section h1 {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 50px;
}

li img {
    height:100% ;
    width: 100%;
    margin-bottom: 10px;
}

li p {
    margin: 0;
}

#footer {
    background-color: #F3E9F1;
    padding: 20px;
}

@media all and (min-width: 500px) {
    ul.list-of-items {
        width: 80%;
    }

    li img {
        height: 200px;
        width: 250px;
    }
}