section ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


li img {
    height: 250px;
    width: 300px;
}

li {
    padding: 30px;
    margin: 40px;
    width: 200px;
}

