
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    list-style-type: none;
    text-decoration: none;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #F3E9F1;
    padding: 0 10px;
}

.navbar-header > ul {
    padding: 0;
}

h1 {
    text-align: center;
}

.navbar-header img {
    height: 100px;
    width: 200px;
}

.list-of-articles {
    border: black 2px solid;
    margin: 10px;
    padding: 15px;
}

.link-to-product> button {
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    padding: 10px;
}

li img {
    width: 50%;
    height: 50%;
}

li {
    margin: 30px;
}

.basket-element {
    position: relative;
    width: 300px;
}

.basket-element> p {
    margin: 0;
}

.delete-button-for-each {
    position: absolute;
    top: 60px;
    right: 55px;
}

.empty-basket {
    text-align: center;
}

h2,.empty-basket {
    text-align: center;
}

.total {
    font-weight: bold;
}

.trash-all {
    cursor: pointer;
    margin: 20px;
}

#form > * {
    display: flex;
    margin: 5px 0 5px 20px;
    padding: 3px;
    border-radius: 40px;
    width: 50%; 
}

#submit {
    padding: 10px;
    width: 180px;
    border-radius: 40px;
}

@media  all and (min-width: 500px) {
    li img {
        width: 40%;
        height: 40%;
    }

    #form > * {
        width : 250px
    }

    #submit {
        width: 180px;
    }
}