
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    list-style-type: none;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #F3E9F1;
    padding: 0 10px;
}

.nav-icon {
    font-size: 30px;
}

.navbar-header img {
    height: 100px;
    width: 200px;
}

li {
    color: blueviolet;
}

.empty-basket {
    text-align: center;
}

h2,.empty-basket {
    color : red;
}

.link-to-product {
    color : orange;
}

.total {
    color : green;
}

