
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    list-style-type: none;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #F3E9F1;
    padding: 0 10px;
}

.nav-icon {
    font-size: 30px;
}

.cart-box {
    position: relative;
    cursor: pointer;
}

.shop-cart-icon {
    font-size: 30px; 
    color: black; 
}

.cart {
    position: absolute;
    top: -8px;
    right: -3px;
    z-index: 2;
    padding: 0 3px;
    border-radius: 30%;
    background-color: #915cf7;
}

.navbar-header img {
    height: 100px;
    width: 200px;
}

.item-box {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center; 
    margin: 50px;  
}

.item-box img {
    height: 300px;
    width: 400px;
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    border-color: #91d8f8;
}

#footer {
    background-color: #F3E9F1;
    padding: 20px;
}